@import "themes/mocha.css";

* {
  font-family: RobotoMono Nerd Font Propo;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @text;
  background-color: @base;
}

#workspaces button {
  padding-left: 0.7em;
  padding-right: 0.7em;
}

#workspaces button.empty {
  color: @surface2;
}

#workspaces button.active {
  background-color: @surface0;
  border-radius: 3px;
}

#sound,
#bat,
#tray,
#usage,
#net {
  background-color: @surface0;
  border-radius: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.3em;
}

#wireplumber,
#battery,
#memory,
#language {
  margin-right: 0.8em;
}

#memory {
  color: @mauve;
}

#temperature {
  color: @maroon;
}

#clock {
  color: @sky;
}

#wireplumber,
#pulseaudio.input {
  color: @peach;
}

#wireplumber.muted,
#pulseaudio.source-muted {
  color: @red;
}

#battery {
  color: @green;
}

#backlight {
  color: @yellow;
}

#language {
  color: @flamingo;
}

#network {
  color: @teal;
}

#bluetooth {
  color: @blue;
}
