* {
  font-family: "JetBrains Mono", "Symbols Nerd Font";
  font-size: 14px;
}

@define-color bg #1a1b26;
@define-color bg-alt #292e42;
@define-color fg #c0caf5;
@define-color fg-alt #a9b1d6;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color purple #bb9af7;
@define-color cyan #7dcfff;

#waybar {
  background-color: @bg;
  color: @fg;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  border-radius: 100%;
  padding: 0 4px;
  margin: 0 2px;
  background-color: @bg-alt;
  color: @fg-alt;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @blue;
  color: @bg;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#language,
#tray,
#custom-power {
  padding: 0 .6rem;
  border-radius: 3px;
}

#clock {
  color: @cyan;
}

#pulseaudio,
#memory {
  color: @green;
}

#temperature.critical,
#custom-power {
  color: @red;
}

#idle_inhibitor,
#network,
#cpu {
  color: @yellow;
}

#language,
#temperature {
  color: @purple;
}
