* {
  background-image: none;
  box-shadow: none;
  transition: 0.1s;
}

window {
  background-color: rgba(26, 27, 38, 0.9);
  font-size: 1.2rem;
}

button {
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #282a36;
}

button:focus,
button:active,
button:hover {
  background-color: #7aa2f7;
  border-color: #ffffff;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
