* {
  background-image: none;
  box-shadow: none;
  transition: 0.1s;
}

window {
  background-color: rgba(26, 27, 38, 0.9);
  font-size: 20px;
}

button {
  border-radius: 20px;
  border-color: #15161e;
  margin: 19px;
  text-decoration-color: #c0caf5;
  color: #c0caf5;
  background-color: rgba(122, 162, 247, .2);
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: #7aa2f7;
  color: #16161e;
  border-color: #ffffff;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
